.App {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.quote-container {
  background-color: #838383;
  width: 30rem;
  height: 10rem;
  border-radius: 1rem;
  display: grid;
  place-items: center;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  margin-bottom: 2rem;
}
.quote-container button {
  background-color: #000;
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: 1px solid #fff;
  color: #fff;
  cursor: pointer;
}
.quote-container button:hover {
  background-color: #aaa;
  border: 1px solid #000;
  color: #000;
}
input {
  background-color: transparent;
  color: #fff;
  border: 1px solid #fff;
  height: 1rem;
  width: 25rem;
}
.search-quotes {
  display: flex;
  justify-content: center;
  font-size: 1rem;
  border-bottom: 1px solid #fff;
}
.search-quote {
  width: 30rem;
  margin: 0.5rem;
}
.search-author {
  text-align: center;
  width: 10rem;
  margin: 0.5rem;
}
